<div class="alert alert-danger" ng-show="error">
    {{errorMessage}}
</div>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <input type="text" id="employee_name" ng-model="employee.name"
                   placeholder="Имя" required="required" min="6" />
        </div>
    </div>
    <div class="control-group">
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!employee.name" ng-hide="editMode" ng-click="addEmployee(employee)">Add Employee</button>
            <button type="button" class="btn btn-primary" ng-disabled="!employee.name" ng-show="editMode" ng-click="updateEmployee(employee)">Save Employee</button>
            <button type="button" class="btn" ng-click="resetEmployeeForm()">Reset</button>
        </div>
    </div>
</form>
<hr />
<h3>Employees List</h3>
<div class="alert alert-info" ng-show="employees.length == 0">
    No employees found
</div>
<table class="table table-bordered table-striped" ng-show="employees.length > 0">
    <thead>
    <tr>
        <th style="text-align: center; width: 25px;">Id</th>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees | orderBy:predicate">
        <td style="text-align: center;">{{employee.idEmployee}}</td>
        <td style="text-align: center;">{{employee.name}}</td>
        <td style="width:100px;text-align: center;">
            <button class="btn btn-mini btn-danger" ng-click="removeEmployee(employee.idEmployee)">Remove</button>
            <button class="btn btn-mini btn-success" ng-click="editEmployee(employee)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>